.coinSearchCointainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
  }
  
  .coinText {
    color: black;
    margin-right: 32px;
  }
  
  .coinSearch {
    display: flex;
    align-items: center;
  }
  
  .coinInput {
    font-size: 1.3rem;
    padding: 2px !important;
    text-align: center;
    width: 1980px;
    height: 85px;
    padding: 10px 5px;
     
    font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 4;
    background: #fff;
    border-radius: 10px;
    
  border-radius: 10px;
  
  }
  
  @media screen and (max-width: 720px) {
    .coinText {
      font-size: 1.6rem;
    }  
    .coinInput {
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .coinText {
      font-size: 1.2rem;
    }  
  }
  
  @media screen and (max-width: 540px) {
    .coinText {
      font-size: 1.6rem;
      text-align: center;
      margin-right:0;
    } 
    .coinSearch {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .coinInput {
      width: 60vw;
      margin-top: 10px;
    }
  }