.navbar{
    display: flex;

    height: 5vh;
    margin-bottom: 8rem;
}

.nav-button{
    border-radius: 34px;
    border: none;
    width: 180px;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    background:  #3861FB;
    margin: 50px 10px 0px 120rem;
  
  }

  .notification-icon{
    margin: 50px 10px 0px 5rem;
  }


