.nav--con {
    display: flex;
    position: sticky;
    padding: 10px 20px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    height: 90px;
}
.logo--con {
    display: block;
    width: 13%;
    margin-right: auto;
}
.nav--logo {
    width: 100%;
    height: 100px;
}
.navigation > ul > li {
    display: inline-flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    list-style-type: none;
    padding: 8px 14px;
}
.connect--btn {
    border: none;
    background-color: #3861FB;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 0.9em;
    transition: 1s;
}
.connect--btn:hover {
    background-color: #FF8E00;
}
.notification-icon {
    width: 100%;
    height: 100%;
}