.title>:nth-child(1)
{
  margin-top: 0px;
  color: white;
  font-size: 20px;

}

.title1>:nth-child(1){
    color: white;
    position: absolute;
    font-size:4rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}


.background>:nth-child(1)
{
    width: 100%;
    height: 20rem;
}
